/* Sets background color */
body {
    background-color: #EEEEEE;
}

/* Styled header container */
header {
    display: block;
    width: 60%;
    text-align: center;
    color:darkslateblue;
    font-size: 50px;
    font-family: sans-serif;
    text-transform: uppercase;
    border: 2px solid darkslateblue;
    margin: 40px 20% 60px;
    background-color: #DDDDDD;
}

/* Styles header text */
header p {
    margin: 20px 0px;
}

/* Styles nav button container */
nav {
    display: block;
    width: 80%;
    margin: 40px 10%;
    padding: 15px 0px;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    text-transform: uppercase;
    font-weight: bold;
    background-color:#DDDDDD;
    border: 2px solid darkslateblue;
}

/* Styles nav buttons */
.nav-button {
    display: inline-block;
    text-align: center;
    width: 20%;
    margin: 0px;
    color: white;
    background: darkslateblue;
    padding: 5px 15px;
    text-decoration: none;
}

/* Styles all non-product-page images */
.image {
    display: block;
    width: 80%;
    margin: 40px 10%;
    height: auto;
}

/* Only used on products page -- Styles product image container*/
#featured {
    display: block;
    width: 80%;
    margin: 40px 10%;
    padding: 0px;
}

/* Only used on Products Page -- Styles product images*/
/* Really struggled to find a way to make the image fit snug, left to right. Got as close as I could */
.product {
    display: inline-block;
    width: 20%;
    margin: 0px;
    padding: 0px;
    max-height: 900px;
    /* height: auto; */
}

/* Styles all text blocks. Could have just used p here */
.text {
    display: block;
    width: 80%;
    margin: 40px 10%;
    font-family: "Open Sans", "Segoe UI";
    color:#555555;
}

/* Styles h1 */
h1 {
    display: block;
    width: 80%;
    margin: 40px 10% 10px;
    font-family: "Open Sans", "Segoe UI";
    color:#555555;
}

/* Makes it so h1 sits closer to text below it */
h1 + p {
    margin: 10px 10% 40px !important;
}

/* Only used on contact page -- Styles h3 */
h3 {
    display: block;
    width: 80%;
    margin: 40px 10% 10px;
    font-family: "Open Sans", "Segoe UI";
    color:#555555;
}

/* Only used on contact page -- Styles non-nav links */
a {
    color: darkslateblue;
}